body{
    background-color: lightgray;
}
.div1{
    background-color: white;
    margin: auto;
    width: 70%;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin-top: 30px;
}
button{
    background-color: transparent;
    border: none;
    margin-top: 5px;
}
.secao1{
    text-align: center;
    margin: 30px;
    padding: 5px;
}
.secao2{
    text-align: left;
    margin: 30px;
    padding: 5px;
}