body{
    padding: 15px;
}

a:link{ 
    color: blue;
    text-decoration: none;
    border-bottom: 3px dotted blue;
}

a:visited{
    color: purple;
    border-bottom: 3px dotted purple;
}

a:hover{
    color: white;
    background-color: black;    
}

a:active{
    color: red;
    background-color: salmon;
}