.conteudo
{
    background-color: darkgray;
    max-width: fit-content;
    padding: 15px;
}

.txt
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    color: darkred;
}

.txt_centro
{
    text-align: center;
}

.centralizado
{
    display: flex;
    justify-content: center;
}

.cabecalho
{
    text-align: center;
}

.rodape
{
    display: flex;
    justify-content: center;
}

.espaco_medio
{
    margin-top: 30px;
    margin-bottom: 10px;
}

.espaco_peq
{
    margin-top: 10px;
    margin-bottom: 5px;
}

.marcas
{
    color: red;
}

.borda_grossa
{
    border: 3px solid red;
}

.confirma_com_raiva 
{
    width: 50px;
    height: 50px;
    background-color: crimson;
    border-radius: 25px;
    border-style: ridge;
    border-width: 4px;
}



.confirma_com_raiva:hover
{
    cursor: pointer;
}


.cancela_na_paz
{
    width: 50px;
    height: 50px;
    background-color: darkgreen;
    border-radius: 25px;
    border-style: ridge;
    border-width: 4px;
}

.cancela_na_paz:hover
{
    cursor: pointer;
}