/* styles.css */

body {
  background-color: #f1f1f1;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-form {
  margin-top: 50px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #0079db;
  color: #fff;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.card-body {
  padding: 20px;
}

.form-control {
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: #337ab7;
  border-color: #337ab7;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
}

.btn-link {
  color: #337ab7;
  text-decoration: none;
}