/* GENERAL CONFIGS */

*{
    padding: 0;
    margin: 0;
    
}

body{
    display: flex;
    height: 100vh;
}

/* PAGE BAKCGROUND COLOR */

.page-background-light{
    background-color: hsl(0, 0%, 85%);
}

.page-background-dark{
    background-color: hsl(238, 55%, 9%);
}

/* DIV STYLES */

.div-cards{
    height: 75vh;
    width: 40vw;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8vh;
}

.div-header{
    display: flex;
    height: 8vh;
    width: 100vw;
}

.dark-background-header{
    background-color: hsl(237, 39%, 19%);
}

.light-background-header{
    background-color: rgb(255, 253, 245);
}

.select-div{
    margin-top: 1vh;
    display: flex;
    justify-content: center;
}

/* MAIN DIVS */

.link-div{
    display: flex;
    margin-top: 1vh;
}

.buttons-div{
    margin-top: 2vh;
}

.main-div{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lightmode{
    background-color: white;
}

.darkmode{
    background-color: hsl(237, 39%, 19%);
}

/* BUTTONS */

.buttons{
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

/* BUTTONS - BIG BUTTON */

.big-btn{
    width: 30vw;
    height: 5vh;
    font-size: large;
}

/* BUTTONS - SMALL BUTTON */

.small-btn{
    width: 10vw;
    height: 5vh;
    font-size: medium;
}

/* BUTTONS - CONFIRM TEMPLATE WITH BACKGROUND COLOR*/

.confirm{
    background-color: hsl(91, 63%, 40%);
}

/* BUTTONS - CANCEL TEMPLATE WITH BACKGROUND COLOR*/

.cancel{
    background-color: hsl(0, 63%, 40%);
}

/* BUTTONS - NO BACKGROUND */

.no-background{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    color: black;
}

.no-background-darkmode{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
}

/* BUTTONS - EFFECTS */

.confirm:hover{
    background-color: hsl(91, 63%, 45%);
}

.confirm:active{
    background-color: hsl(91, 63%, 50%);
}

.cancel:hover{
    background-color: hsl(0, 63%, 45%);
}

.cancel:active{
    background-color: hsl(0, 63%, 50%);
}

.no-background:hover{ 
    background-color: rgba(255, 255, 255, 0.151);
}

.no-background:active{
    background-color: rgba(255, 255, 255, 0.26);
}

.no-background-darkmode:hover{
    background-color: rgba(255, 255, 255, 0.151);
}

.no-background-darkmode:active{
    background-color: rgba(255, 255, 255, 0.26);
}

/* CHECKBOX AND LABEL*/

.custom-checkbox input {
    display: none;
}

.custom-checkbox input+label:before {
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: rgb(185, 185, 185);
    border: none;
    display: inline-block;
    vertical-align: -8px;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 8px;
    margin-bottom: 3px;
    padding: 1px;
}

.custom-checkbox input:checked+label:before {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
    background-color: hsl(91, 63%, 35%);
    background-position: center;
    border: none;
    padding: 1px;
}

.checkbox-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 10px;
}

/* TEXT INPUTS */

.input-text{
    margin-top: 2vh;
    border-radius: 7px;
    outline: none;
    border: none;
    width: 24vw;
    height: 4vh;
    background-color: hsl(0, 0%, 95%);
    margin-right: 1vw;
    padding-left: 1vh;
    box-shadow: 2px 2px hsl(0, 0%, 70%);
}

.input-text:hover{
    background-color: hsl(0, 0%, 100%);
}

.input-text:not(:placeholder-shown){
    background-color: hsl(0, 0%, 100%);
}

/* RANGE BAR */

.range-bar{
    appearance: none;
    border: none;
    width: 10vw;
}

.range-bar::-webkit-slider-runnable-track{
    appearance: none;
    height: 2vh;
    background: rgb(67,138,32);
    background: linear-gradient(90deg, rgba(67,138,32,1) 21%, rgba(0,255,8,1) 76%);
}

.range-bar::-webkit-slider-thumb{
    appearance: none;
    background-color: rgb(0, 99, 41);
    width: 1vw;
    height: 2vh;
    border: 1px solid black;
}

/* LABEL */

.label{
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    font-weight: 600;
    margin-right: 5px;
}

/* FONT COLOR STYLES */

.dark-font{
    color: black;
}

.light-font{
    color: white;
}

/* MENU SELECT AND OPTIONS */

.select-menu{
    outline: none;
    width: 10vw;
    height: 2vh;
    border: none;
    border-radius: 5px;
    padding-left: 2px;
    background-color: rgb(221, 221, 221);
}

/* PARAGRAPH */

.paragraph{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif   ;
}   

/* HEADER ALL OPTIONS */

.header-options{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    list-style-type: none;
    align-items: center;
    
}

/* HEADER INDIVIDUAL OPTIONS */

.option{
    margin-left: 1vw;
    cursor: pointer;
    font-weight: 600;
}

/* LINK */

.link{
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 14px;
}