* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteudo {
    display: flex;
    background-color: #6495ED;
}

.div1 {
    background:  white;
    margin: 10px;
    width: 70px;
    height: 75px;
    text-align: center;
    padding-top: 25px;
}

