.div,h1{
    font-family: Arial;
}

.img{
    display: block;
    width: 400px;
    height:400px;
}
button{
    padding: 5px;
    margin: 10px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10%;
    background-color: #4CAF50;
    color: aliceblue;
    font-family: Arial;
}