.square{
    background-color: #f1f1f1;
    padding: 20px;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
}