.barra_menu{
    background-color: rgb(58, 58, 58);
    font-family:Arial, Helvetica, sans-serif;
    display: block;
    width: 15%;
    height: 100%;
    padding: 15px;
    position: fixed;
    top: 0px;
    left: 0;
    
}

.text{
    margin-top: 5px;
    color: whitesmoke;
    font-size: 16px;
    text-decoration: none;
    display: block;
}

.div1{
    margin-left: 200px;
}
