.formulario {
    background-color: white;
    font-family: Arial;
    margin-left: auto;
    margin-right: auto;
    max-width: 430px;
    max-height: 200px;
    align-self: center;
    align-content: center;
    padding: 20px;
    border-radius: 5px;
    display: block;
}

.titulo {
    align-content: center;
    text-align: center;
    font-size: 25px;
    color: rgb(36, 36, 192);
}

.subtitulo {
    color: gray;
    text-align: center;
    align-content: center;
    font-size: 12px;
}

body {
    background: #0864b4;
    background-image: url(img/Background-login.webp);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    margin-inline: 0px;
}

html {
    height: 100%;
}


.imgsenai {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    align-items: center;
    align-content: center;
    width: 200px;
    height: 30px;
    padding-right: 20px;
    padding-top: 20px;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    align-items: center;
    align-content: center;
    width: 200px;
    height: 30px;
    padding-left: 20px;
    padding-top: 20px;
}

.botao {
    color: white;
    background-color: rgb(82, 113, 204);
    border-color: rgb(82, 113, 204);
    border-radius: 5px;
    padding: 7px 10px;
    display: inline-block;
    font-size: 15px;
    font-style: normal;
    width: 120px;
}

.titulo {
    text-align: center;
}

a {
    color: gray;
}

.conta {
    width: 20px;
    height: 20px;
}

.cadeado {
    width: 20px;
    height: 20px;
}

.senha {
    width: 170px;
    height: 25px;
}

.nome {
    width: 170px;
    height: 25px;
}

p {
    color: white;
    text-align: center;
}


.divLogo {
    padding-left: 780px;
    padding-top: 100px;
    display: inline;
    width: 1335;
    height: 74.23;
    justify-content: center;



}


.principal {
    margin-left: 520px;
    padding: 70px;
    align-content: center;
    display: flex;
    justify-content: center;
    width: 12%;
}

.lojaApps {


    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.frases {
    padding: 20px;
    display: grid;
    justify-content: left;
    align-content: flex-end;
    width: 32%;
}

.propaganda {
    padding: 5px;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 450px;
    height: 170px;
}

.fadeInUp {
    display: grid;
    margin-left: 60px;
    align-content: center;
    justify-content: left;
}

.vivencias {
    display: grid;
    margin-left: 60px;
    align-content: center;
    justify-content: left;
}