
body{
    background-color: #dddddd;
}
#atividade{
    background-color: #fff;
    padding: 20px;
    width: 600px;
    margin: 40px 580px;
    border-radius: 15px;
}

#header, #footer{
    text-align: center;
}
#footer > p{
    margin-top: 50px;
}
span{
    margin: 10px 20px;
}
#header{
    margin-bottom: 30px;
}