
body{
    padding: 10px;
    font-family: Arial;;
}
.formulario{
    height: 300px;
    width: 500px;
    text-align: center;
    color:white;
    border-radius:5px ;
    background: rgb(19,194,127);
    background: linear-gradient(90deg, rgba(19,194,127,1) 38%, rgba(0,90,255,1) 100%);
}
.botao{
    height: 30px;
    width: 300px;
   background-color: black;
   color: white;
}