*{margin: 0px; padding: 0px;}

.main{
    display: inline;
}

.menu{
    height: 60px;
    width: 100%;
    background-color: crimson;
    position: fixed;
    text-align: center;
    padding-top: 40px;
}

.pag{
    display: inline;
}

.menu_lateral{
    background-color: springgreen;
    padding: 20px 0px 0px 20px;
    width: 220px;
    position: fixed;
    top: 100px;
    height: 1000px;
}

.conteudo{
    background-color: cornflowerblue;
    position: static;
    left: 240px;
    top: 100px;
    width: 100%;
    height: 1000px;
    padding: 120px 0px 0px 270px;
}