<!DOCTYPE html>
<html>

<head>
    <title>Título do Documento</title>
</head>

<body>
    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Curso</th>
                <th>Situação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pessoa 1</td>
                <td>Desenvolvimento e Análise de Sistemas</td>
                <td>Em Andamento</td>
            </tr>
            <tr>
                <td>Pessoa 2</td>
                <td>Ciência da Computação</td>
                <td>Em Andamento</td>
            </tr>
            <tr>
                <td>Pessoa 3</td>
                <td>Desenvolvimento e Análise de Sistemas</td>
                <td>Completo</td>
            </tr>
        </tbody>
    </table>
</body>

</html>