.Forms{
    margin: auto;
    text-align: center;
    border-radius: 1%;
    background: linear-gradient(90deg, rgb(164, 212, 164), rgb(122, 224, 216));
    width: 50%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.titulo{
    font-family: Arial;
    text-align: center;
    color:aliceblue
}

.inputNome{
    width: 350px;
    height: 35px;
    font-family: Arial;
    background-color: transparent;
    border-radius: 1%;
    border-color: aliceblue;
    border-style: solid;
}
.email{
    width: 350px;
    height: 35px;
    font-family: Arial;
    background-color: transparent;
    border-radius: 1%;
    border-color: aliceblue;
    border-style: solid;
}
.senha{
    width: 350px;
    height: 35px;
    font-family: Arial;
    background-color: transparent;
    border-radius: 1%;
    border-color: aliceblue;
    border-style: solid;
}
.idade{
    width: 350px;
    height: 35px;
    font-family: Arial;
    background-color: transparent;
    border-radius: 1%;
    border-color: aliceblue;
    border-style: solid;
}
.mensagem{
    width: 350px;
    font-family: Arial;
    background-color: transparent;
    border-radius: 1%;
    border-color: aliceblue;
    border-style: solid;
}
.select{
    width: 350px;
    height: 35px;
    font-family: Arial;
    background-color: transparent;
    border-radius: 1%;
    border-color: aliceblue;
    border-style: solid;
}
.btn{
    font-family: Arial;
   background-color: rgb(46, 46, 46);
   color:aliceblue;
   width: 350px;
   height: 35px;
}