body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    position: relative;
    top: 10px;
    width: 50%;
    margin-bottom: 10%;
}

th, td{
    text-align: center;
}

.actionContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}