*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.selecao{
    margin: 0px;
    margin-top: 10px;
}
label{
    margin-top: 10px;
    padding: 5px;
}
.titulo{
    text-align: center;
    margin: 5px;
    margin-top: 0px;
    margin-left: 0px;
}
.verificacao{
    display: inline-block;
    margin: 0px;
    margin-top: 10px;
}
.titulo_refeicao{
    display: block;
}
.div_direita{
    display: inline-block;
    width: 50%;
}
.div_esquerda{
    display: inline-block;
    width: 50%;
}
.card_aquela_la{
    background-color: blueviolet;
}

.link_sara{
    text-align: center;
}