body, html{
    height: 100%;
    margin: 0%;
}
.navBar{
    background-color: rgb(36, 36, 36);
    color: white;
    width: 200px;
    height: 100%;
    padding-left: 10px;
    position: fixed;
}
.conteudo{
    position: absolute;
    height: 2000px;
    left: 210px;
    padding: 10px;
}
.opcoes{
    display: block;
    padding-top: 20px;
}