*
{
    box-sizing: border-box;
}

.inicia_tabela
{
   column-span: 4;
}

[class^="col-"]
  {
    float: left;
    padding: 5px;
  }


.center
{
  text-align: center;
}

.long{width: 100.0%;}
.mid{width: 50.00%;}
.third{width: 33.33%;}
.part{width: 25.00%;}

.col-1  {min-width:  8.33%; width: 8.33%;  max-width:  8.33%;}
.col-2  {min-width: 16.66%; width: 16.66%; max-width: 16.66%;}
.col-3  {min-width:    25%; width: 25%;    max-width:    25%;}
.col-4  {min-width: 33.33%; width: 33.33%; max-width: 33.33%;}
.col-5  {min-width: 41.66%; width: 41.66%; max-width: 41.66%;}
.col-6  {min-width:    50%; width: 50%;    max-width:    50%;}
.col-7  {min-width: 58.33%; width: 58.33%; max-width: 58.33%;}
.col-8  {min-width: 66.66%; width: 66.66%; max-width: 66.66%;}
.col-9  {min-width:    75%; width: 75%;    max-width:    75%;}
.col-10 {min-width: 83.33%; width: 83.33%; max-width: 83.33%;}
.col-11 {min-width: 91.66%; width: 91.66%; max-width: 91.66%;}
.col-12 {min-width:   100%; width: 100%;   max-width:   100%;}

@media only screen and (max-width: 992px) 
{
  [class^= "col-"]
  {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) 
{
  [class^= "col-"]
  {
    width: 100%;
  }
}
