*{
    padding: 0px;
    margin:0px;
}

.menu{
    position: fixed;
    display: block;
    top:0px;
    width: 150px;
    height: 1800px;
    background-color: rgb(31, 29, 29);
    padding: 15px;
    font-size: 18px;
  
}

.page{
    margin-left: 200px;
    margin-top: 20px;
    height: 1800px;

}

a{
    display: inline-block;

    color: white;
    text-decoration: none;
    padding-bottom:20px;
}



