.container_1{
    background-color: rgb(65, 166, 212);
    display: flex;
}

.box{
    background-color: aliceblue;
    font-size: 30px;
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
}

.container_2{
    display: flex;
    flex-direction: column;
    background-color: rgb(65, 166, 212);
}

.container_3{
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(65, 166, 212);
}

.container_4{
    background-color: rgb(65, 166, 212);
    display: flex;
    flex-flow: column-reverse;
}

.container_5{
    background-color: rgb(65, 166, 212);
    display: flex;
    justify-content: center;
}

.container_6{
    background-color: rgb(65, 166, 212);
    display: flex;
    align-items: center;
    line-height: 100px;
}