.div-square-big,
.div-square-sm {
    box-shadow: 1px 1px 5px #4e4d4d;
}

* {
    margin: 0
}

.btn {
    color: #212529;
    border: 1px solid #ced4da
}

.btn:hover {
    background-color: #ced4da
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #5c5c5c
}

.btn-confirm {
    color: #fff;
    background-color: #28a745
}

.btn-cancel {
    color: #fff;
    background-color: #dc3545
}

.btn-alert {
    color: #fff;
    background-color: #ffc107
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa
}

.btn-dark {
    color: #fff;
    background-color: #343a40
}

.body-primary,
.btn-primary,
.text-primary {
    background-color: #007bff
}

.btn-lg {
    font-size: 4px
}

.btn-sm {
    font-size: 2px
}

.body-success {
    background-color: #28a745
}

.body-danger {
    background-color: #dc3545
}

.body-alert {
    background-color: #ffc107
}

.body-light,
.div-light {
    color: black;
    background-color: #f8f9fa
}

.body-dark,
.div-dark {
    color: #f8f9fa;
    background-color: #343a40
}

.body-info,
.text-info {
    background-color: #6c757d
}

.text-success {
    color: #28a745
}

.text-danger {
    color: #dc3545
}

.text-alert {
    color: #ffc107
}

.text-light {
    color: #f8f9fa
}

.text-dark {
    color: #343a40
}

.border {
    border: 1px solid #dee2e6
}

.border-dark {
    border: 1px solid #000
}

.border-info {
    border: 1px solid #6c757d
}

.border-radius {
    border-radius: 5px
}

.p-1 {
    padding: 1px
}

.p-2 {
    padding: 2px
}

.p-3 {
    padding: 3px
}

.pt-1 {
    padding-top: 1px
}

.pt-2 {
    padding-top: 2px
}

.pt-3 {
    padding-top: 3px
}

.pr-1 {
    padding-right: 1px
}

.pr-2 {
    padding-right: 2px
}

.pr-3 {
    padding-right: 3px
}

.pb-1 {
    padding-bottom: 1px
}

.pb-2 {
    padding-bottom: 2px
}

.pb-3 {
    padding-bottom: 3px
}

.pl-1 {
    padding-left: 1px
}

.pl-2 {
    padding-left: 2px
}

.pl-3 {
    padding-left: 3px
}

.display-flex {
    display: flex
}

.checkbox-big,
.checkbox-big input:checked~.checkmark:after {
    display: block
}

.flex-direction-column {
    flex-direction: column
}

.align-items-center {
    align-items: center
}

.justify-content-center {
    justify-content: center
}

.div-square-sm {
    background-color: #c4c4c4;
    width: 400px;
    height: 400px
}

.div-square-big {
    width: 600px;
    height: 600px
}

.checkbox-big {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.checkbox-big input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee
}

.checkbox-big:hover input~.checkmark {
    background-color: #ccc
}

.checkbox-big input:checked~.checkmark {
    background-color: #2196f3
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none
}

.checkbox-big .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg)
}

.input-dark {
    color: #f8f9fa;
    background-color: #343a40
}

.input-light {
    color: #343a40;
    background-color: #f8f9fa
}

.a-hover-color-danger:hover {
    color: #c01408e5
}

.a-hover-color-success:hover {
    color: #00c431
}

.a-hover-color-primary:hover {
    color: #007bff
}