#faixaVerde{
    background-color: #00a783;
    width: 100%;
    height: 222px;
    display: flex;
    justify-content: left;
    position: relative;
}
#whatsImage{
    width: 39px;
    height: 39px;
}
#imageMaisNome{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    width: 1000px;
    height: 39px;
    color: #ffffff;
    font-family: Arial;
    display: flex;
    justify-content: left;
    align-items: center;
}
#janelaPassoPasso{
    margin: auto;
    width: 1000px;
    height: 1150px;
    position: relative;
    margin-top: -80px;
    z-index: 9999;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 3px 3px 20px rgb(170, 168, 168);
    font-family: Arial;
}
#passoPasso{
    font-family: Arial;
    width: 600px;
    padding: 40px;
}
#tituloPassoPasso{
    font-size: 25px;
    padding-left: 20px;
}
#suporte{
    margin-top: 60px;
    font-size: 15px;
    color: #00a783;
    padding-left: 20px;
}
#qrCode{
    font-size: 15px;
    padding-top: 20px;
}
.passos{
    font-size: 18px;
}
#lista{
    padding-top: 30px;
}
#janelaCima{
    position: relative;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#janelaMeio{
    position: relative;
    width: 100%;
    height: 360px;
    display: flex;
}
#janelaMeio2{
    position: relative;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.alinhaDiv{
    flex: 1;
}
#etapa1{
    margin-bottom: 25px;
}
#etapa2{
    margin-bottom: 25px;
}
#etapa3{
    margin-bottom: 25px;
}
#divisoria{
    width: 900px;
    border: 1px solid rgb(199, 199, 199);
}
#janelaBaixo{
    width: 100%;
    height: 500px;
    background-color: rgb(248, 245, 245);
}
#conectarComNumero{
    font-size: 18px;
    padding-left: 50px;
    padding-bottom: 20px;
}
#tutorial{
    font-size: 30px;
}
#ajuda{
    font-size: 15px;
}
.link{
    text-decoration: none;
    color: #00a783;
}
#fundoPagina{
    height: 1380px;
}
.divVideo{
    position: relative;
    display: flex;
    justify-content: center;
}
#tituloVideo{
    padding-top: 30px;
}
#janelaBaixaApp{
    width: 900px;
    height: 100px;
    margin-top: 50px;
    border-radius: 10px;
    border: 1px solid rgb(199, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
}
#imagemComputador{
    width: 85px;
    height: 70px;
}
#texto{
    width: 500px;
}
#botao{
    width: 200px;
}
#botaoDirecionado{
    border: none;
    background-color: #008069;
    color: #ffffff;
    border-radius: 25px;
    font-size: 15px;
    height: 40px;
    width: 200px;
}
#textoSobreWhats{
    font-size: 14px;
    color: rgb(92, 92, 92);
}