#faixaVerde{
    background-color: rgb(67, 189, 132);
    width: 100%;
    height: 222px;
    display: flex;
    justify-content: left;
    position: relative;
}
#whatsImage{
    width: 39px;
    height: 39px;
}
#imageMaisNome{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    width: 1000px;
    height: 39px;
    font-family: Arial;
    color: #ffffff;
    display: flex;
    justify-content: left;
}
#passoPasso{
    margin: auto;
    width: 1000px;
    height: 500px;
    position: relative;
    margin-top: -80px;
    z-index: 9999;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 3px 3px 20px rgb(170, 168, 168);
}
#whatsText{
    vertical-align: text-top;
}