/* PALETA DE CORES - FUNDO */
.bg_color_green{background-color: rgb(140, 236, 140);}
.bg_color_red{background-color: rgb(230, 111, 95);}
.bg_color_blue{background-color: rgb(100, 100, 255);}
.bg_color_black{background-color: rgb(0, 0, 0);}
.bg_color_white{background-color: rgb(255, 255, 255);}
.bg_color_orange{background-color: rgb(243, 183, 71);}
.bg_color_pink{background-color: rgb(252, 128, 252);}
.bg_color_yellow{background-color: rgb(252, 249, 107);}
.bg_color_bisque{background-color: bisque;}

/* ==================================================================== */
/* CORES DE FONTES */
.color_white{color: #ffffff;}
.color_black{color: black;}
.color_red{color: red;}
.color_green{color: green;}

/* ==================================================================== */
/* BOTÃO SEM FORMATAÇÃO */ 
.button{
    height: 40px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    box-shadow: 1px 1px 4px;
    border-radius: 10px;
}
.big_button{
    height: 60px;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 4px;
}
.small_button{
    height: 24px;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 4px;
}
.border_button{
    border: 1px solid rgb(92, 92, 92);
    border-radius: 10px;
}
.without_bg_button{
    height: 40px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    border: none;
    box-shadow: 1px 1px 4px;
    border-radius: 10px;
}
.bolder_without_bg_button{
    height: 40px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    border: none;
    box-shadow: 1px 1px 4px;
    border-radius: 10px;
    font-weight: bolder;
}

/* ==================================================================== */
/* BOTÃO DE CONFIRMAÇÃO */
.big_confirm_button{
    height: 60px;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(140, 236, 140);
    border: none;
    box-shadow: 1px 1px 4px;
    border-radius: 10px;
}
.small_confirm_button{
    height: 24px;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(140, 236, 140);
    border: none;
    box-shadow: 1px 1px 4px;
    border-radius: 10px;
}
.with_bg_confirm_button{
    height: 40px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(140, 236, 140);
    border: none;
    box-shadow: 1px 1px 4px;
    border-radius: 10px;
}
.without_bg_confirm_button{
    height: 40px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    border: 2px solid rgb(140, 236, 140);
    border-radius: 10px;
    font-weight: bolder;
    color: rgb(140, 236, 140);
}

/* ==================================================================== */
/* BOTÃO DE CANCELAMENTO */
.big_cancel_button{
    height: 60px;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(226, 66, 45);
    border: none;
    box-shadow: 1px 1px 4px;
    border-radius: 10px;
}
.small_cancel_button{
    height: 24px;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(226, 66, 45);
    border: none;
    box-shadow: 1px 1px 4px;
    border-radius: 10px;
}
.with_bg_cancel_button{
    height: 40px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(226, 66, 45);
    border: none;
    box-shadow: 1px 1px 4px;
    border-radius: 10px;
}
.without_bg_cancel_button{
    height: 40px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    border: 2px solid rgb(226, 66, 45);
    border-radius: 10px;
    font-weight: bolder;
    color: rgb(226, 66, 45);
}

/* ==================================================================== */
/* CAMPO DE CHECKBOX */
/* https://www.renesena.com.br/blog/criando-input-checkbox-personalizado/ */
.primary_checkbox:not(:checked) {
    -webkit-appearance: none;
    appearance: none;
    margin: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 5px;
}
.primary_checkbox:checked{
    -webkit-appearance: none;
    appearance: none;
    margin: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 5px;
    content: url('image/x_checkbox.png');
}
.secondary_checkbox:not(:checked) {
    -webkit-appearance: none;
    appearance: none;
    margin: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 5px;
}
.secondary_checkbox:checked{
    -webkit-appearance: none;
    appearance: none;
    margin: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 5px;
    content: url('image/x_checkbox_white.png');
}

/* ==================================================================== */
/* CAMPO DE TEXTO */
.primary_text_name{
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    width: 250px;
    box-shadow: 1.5px 1.5px 3px;
    background: url(image/nome.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.3em;
    padding-left: 1.3em;
    background-color: #ffffff;
}
.secondary_text_name{
    border-radius: 50px;
    border: 1px solid gray;
    padding: 5px;
    width: 250px;
    box-shadow: 1.5px 1.5px 3px;
    background: url(image/nome.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.3em;
    padding-left: 1.3em;
    background-color: #ffffff;
}

/* ==================================================================== */
/* CAMPO DE E-MAIL */
.primary_text_email{
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    width: 250px;
    text-transform: lowercase;
    box-shadow: 1.5px 1.5px 3px;
    background: url(image/email.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.3em;
    padding-left: 1.3em;
    background-color: #ffffff;
}
.secondary_text_email{
    border-radius: 50px;
    border: 1px solid gray;
    padding: 5px;
    width: 250px;
    text-transform: lowercase;
    box-shadow: 1.5px 1.5px 3px;
    background: url(image/email.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.3em;
    padding-left: 1.3em;
    background-color: #ffffff;
}

/* ==================================================================== */
/* CAMPO DE SENHA */
.primary_text_password{
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    width: 250px;
    font-weight: bolder;
    box-shadow: 1.5px 1.5px 3px;
    background: url(image/senha.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.3em;
    padding-left: 1.3em;
    background-color: #ffffff;
}
.secondary_text_password{
    border-radius: 50px;
    border: 1px solid gray;
    padding: 5px;
    width: 250px;
    font-weight: bolder;
    box-shadow: 1.5px 1.5px 3px;
    background: url(image/senha.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.3em;
    padding-left: 1.3em;
    background-color: #ffffff;
}

/* ==================================================================== */
/* CAMPO DE RANGE */
.primary_range{
    -webkit-appearance: none;
    appearance: none;
    width: 18em;
    height: 0.2em;
    position: relative;
    left: 4em;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    accent-color: rgb(88, 88, 88);
    outline: none;
}
.secondary_range{
    -webkit-appearance: none;
    appearance: none;
    width: 18em;
    height: 0.2em;
    position: relative;
    left: 4em;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    accent-color: rgb(206, 206, 206);
    outline: none;
}

/* ==================================================================== */
/* CAMPO DE SELEÇÃO */
.primary_select_field{
    appearance: none;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
}
.primary_select_field:hover{
    border: 1px solid black;
}
.secondary_select_field{
    appearance: none;
    background-color: rgb(85, 85, 85);
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    color: white;
}
.secondary_select_field:hover{
    border: 1px solid rgb(255, 255, 255);
}

/* ==================================================================== */
/* CAMPO DE LABEL */
.primary_text_label{
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    box-shadow: 1.5px 1.5px 3px;
}
.secondary_text_label{
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #ffffff;
    background-color: rgb(85, 85, 85);
    padding: 5px;
    box-shadow: 1.5px 1.5px 3px black;
}

/* ==================================================================== */
/* CAMPO DE PARÁGRAFO */
.primary_paragraph{
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.secondary_paragraph{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
}

/* ==================================================================== */
/* CABEÇALHO */
.primary_header{
    color: #ffffff;
    font-weight: bold;
    font-size: 50px;
}
.secondary_header{
    color: black;
    font-weight: bold;
    font-size: 50px;
}

/* ==================================================================== */
/* LINK */
.primary_link{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.primary_link:link:hover{
    text-decoration:underline;
}
.secondary_link{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.secondary_link:link:hover{
    text-decoration:underline;
}

/* ==================================================================== */
/* DIV */
.div_bg_color_primary{
    background-color: rgb(255, 247, 236);
    padding: 50px;
}
.div_bg_color_secondary{
    background-color: rgb(24, 22, 26);
    padding: 50px;
}
.div_bg_color_tertiary{
    background-color: rgb(241, 223, 199);
    padding: 50px;
}