* {
  margin-left: 3px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Buttons with background */

.button button {
  /*Aplicar borda e efeitos globais*/
  border: 2px solid black;
  height: 30px;
  border-radius: 4px;
}

.btn-confirm-large {
  color: white;
  background-color: green;
  width: 200px;
}

.btn-confirm-small {
  color: white;
  background-color: green;
  width: 100px;
}

.btn-cancel-large {
  color: white;
  background-color: red;
  width: 50px;
  width: 200px;
}

.btn-cancel-small {
  color: white;
  background-color: red;
  width: 100px;
}

/* Buttons without background */

.btn-confirm-large-sem-fundo {
  background-color: transparent;
  width: 50px;
  width: 200px;
}

.btn-confirm-small-sem-fundo {
  background-color: transparent;
  width: 100px;
}

.btn-cancel-large-sem-fundo {
  background-color: transparent;
  width: 50px;
  width: 200px;
}

.btn-cancel-small-sem-fundo {
  background-color: transparent;
  width: 100px;
}

/* Campo checkbox */

.checkbox input {
  cursor: pointer;
}

/* Campo de texto para nome, email, senha e range */

.container-input {
  width: 300px;
}

/* Label - fonte de cor clara */

.form-cor-clara label {
  color: rgb(235, 227, 186);
}

/* Label - fonte de cor escura */

.form-cor-escura label {
  color: rgb(15, 17, 151);
}

/* Parágrafo - fonte de cor clara*/

.paragrafo-cor-clara {
  color: rgb(235, 227, 186);
}

/* Parágrafo - fonte de cor escura*/

.paragrafo-cor-escura {
  color: rgb(15, 17, 151);
}

/* Cabeçalho - fonte de cor clara */

.cabecalho-cor-clara {
    color: rgb(235, 227, 186);
}

/* Cabeçalho - fonte de cor escura */

.cabecalho-cor-escura {
    color: rgb(15, 17, 151);
}

/* Link */

.link a {
    text-decoration: none;
}

/* Body - fundo de cor clara */

body {
    background-color: rgb(121, 183, 241);
}

/* Body - fundo de cor escura */

body {
    background-color: rgb(168, 3, 113);
}

/* DIV - fundo de cor clara */

div {
    background-color: rgb(121, 183, 241);
    padding: 1px;
}

/* DIV - fundo de cor escura */

div {
    background-color: rgb(59, 149, 223);
    padding: 1px;
}
