.container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.coluna {
    width: 50%;
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}