body, html{
    margin: 0;
    background-color: rgb(41, 76, 172);
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#div{
    width: 150px;
    height: 150px;
    background-color: white;
}