body {
    font-family: Arial, sans-serif;
    background-color: #f0f7fa; /* azul claro */
    color: #333; /* tom de cinza escuro */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff; /* branco */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h2 {
    color: #007bff; /* azul */
}

p {
    margin-bottom: 20px;
}

.button {
    background-color: #007bff; /* azul */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3; /* azul mais escuro */
}