body{
    background-color: rgb(240, 240, 240);
}
h1, h2, label, p{
    font-family: Arial;
    color: rgb(50, 50, 50);
}

h1{
    padding-top: 5%;
    text-align: center;
}

label{
    text-align: center;
}
.copyright{
    text-align: center;
    padding-bottom: 5%;
}
div{
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: white;
}