*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #000;
    --gray: #b6b6b6;
    --medium: #414040;
    --dark: #2a2a2a;
    --dark-blue: #032440;
    --winter: #004F6E;
    --ocean: #007E88;
    --water: #00AC89;
    --garden: #86D77A;
    --sun: #e9e50c;
    --none: transparent;
}

/* buttons */

/* light */
/* confirm-btn */
.btn-confirm-light{
    padding: 5px;
    border: none;
    color: var(--white);
    background-color: var(--ocean);
    border-radius: 20px;
    text-align: center;
    margin: 9px;
    cursor: pointer;
}

.btn-ghost-confirm-light{
    padding: 5px;
    border: 3px solid var(--ocean);
    color: var(--ocean);
    background-color: var(--none);
    border-radius: 20px;
    text-align: center;
    margin: 9px;
    cursor: pointer;
}
.btn-ghost-confirm-light:hover{
    border: 3px solid var(--sun);
    color: var(--sun);
    transition: 0.5s;
}

/* cancel-btn */
.btn-cancel-light{
    padding: 5px;
    border: none;
    color: var(--gray);
    background-color: var(--dark-blue);
    border-radius: 20px;
    text-align: center;
    margin: 9px;
    cursor: pointer;
}
.btn-cancel-light:hover{
    color: var(--white);
    border: none;
    transition: 0.5s;
}
.btn-ghost-cancel-light{
    padding: 5px;
    border: 3px solid var(--dark-blue);
    color: var(--dark-blue);
    background-color: var(--none);
    border-radius: 20px;
    text-align: center;
    margin: 9px;
    cursor: pointer;
}
.btn-ghost-cancel-light:hover{
    background-color: var(--dark-blue);
    color: var(--white);
    transition: 0.5s;
}

/* dark */
.btn-confirm-dark{
    padding: 5px;
    border: none;
    color: var(--white);
    background-color: var(--ocean);
    border-radius: 20px;
    text-align: center;
    margin: 9px;
    cursor: pointer;
}
.btn-confirm-dark:hover, .btn-confirm-light:hover{
    background-color: var(--garden);
    border: none;
    transition: 0.5s;
}
.btn-ghost-confirm-dark{
    padding: 5px;
    border: 3px solid var(--ocean);
    color: var(--ocean);
    background-color: var(--none);
    border-radius: 20px;
    text-align: center;
    margin: 9px;
    cursor: pointer;
}
.btn-ghost-confirm-dark:hover{
    border: 3px solid var(--garden);
    color: var(--garden);
    transition: 0.5s;
}

/* cancel-btn */
.btn-cancel-dark{
    padding: 5px;
    border: none;
    color: var(--gray);
    background-color: var(--dark-blue);
    border-radius: 20px;
    text-align: center;
    margin: 9px;
    cursor: pointer;
}
.btn-cancel-dark:hover{
    color: var(--white);
    background-color: var(--medium);
    border: none;
    transition: 0.5s;
}
.btn-ghost-cancel-dark{
    padding: 5px;
    border: 3px solid var(--white);
    color: var(--white);
    background-color: var(--none);
    border-radius: 20px;
    text-align: center;
    margin: 9px;
    cursor: pointer;
}
.btn-ghost-cancel-dark:hover{
    /* background-color: var(--dark-blue); */
    color: var(--gray);
    border: 3px solid var(--gray);
    transition: 0.5s;
}
.simple-btn-dark{
    border: none;
    background-color: var(--none);
    font-size: 24px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.simple-btn-dark:hover{
    color: var(--gray);
    cursor: pointer;
}
.simple-btn-light{
    border: none;
    background-color: var(--none);
    font-size: 24px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: var(--gray);
}
.simple-btn-light:hover{
    color: var(--white);
    cursor: pointer;
}

/* btn-sizes */
.all-space-btn{
    width: 95%;
    padding: 10px;
}
.big-btn{
    font-size: 18px;
    padding: 10px 20px;
}
.small-btn{
    padding: 10px;
    font-size: 10px;
}

/* nav-btn */
.nav-dark-btn{
    border: none;
    font-size: 18px;
    color: var(--gray);
    background-color: var(--none);
    padding: 10px;
}
.nav-light-btn{
    border: none;
    font-size: 18px;
    color: var(--dark-blue);
    background-color: var(--none);
    padding: 10px;
}
.nav-dark-btn:hover{
    border-bottom: 2px solid var(--ocean);
    color: var(--white);
    transition: 0.3s;
}
.nav-light-btn:hover{
    border-bottom: 2px solid var(--sun);
    color: var(--sun);
    transition: 0.3s;
}

/* checkbox */
.check-b{
    appearance: none;
    padding: 10px;
    border-radius: 50%;
}
.check-light{
    border: 2px solid var(--dark-blue);
}
.check-dark{
    border: 2px solid var(--garden);
}
.check-light:checked{
    background-color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
}
.check-dark:checked{
    background-color: var(--garden);
    border: 2px solid var(--garden);
}

/* input text */
.input-txt{
    padding: 5px 20px;
    border-radius: 8px;
    border: 1px solid var(--gray);
    color: var(--garden);
    font-size: 16px;
    outline: none;
}
.input-txt::placeholder{
    color: var(--water);
}

/* search */
.search-box{
    width: 95%;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 25px;
    margin: 10px;
    border: 2px solid var(--medium);
    background-color: var(--dark);
    color: var(--gray);
    text-align: center;
    outline: none;
}
.search-box:hover{
    background-color: #323232;
    border: 2px solid var(--ocean);
    color: var(--white);
    box-shadow: inset 1px 1px 3px #323232;
    transition: 1s;
}
.search-box:focus{
    background-color: #323232;
    border: 2px solid var(--ocean);
    color: var(--white);
    box-shadow: inset 1px 1px 3px #323232;
}
/* email */
.email{
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    border: var(--gray);
    color: var(--garden);
    outline: none;
}


/* select */
.select-light{
    outline: none;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    color: var(--winter);
    font-weight: bold;
    padding: 5px 10px;
}
.select-dark{
    outline: none;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    background-color: var(--dark);
    color: var(--ocean);
    font-weight: bold;
    padding: 5px 10px;
}
.select-dark:hover, .select-light:hover{
    border: 2px solid var(--water);
}

/* range */
.range-light{
    -webkit-appearance: none;
    appearance: none;
    height: 0.5em;
    border-radius: 5px;
    background-color: var(--gray);
    outline: none;
}
.range-light::-webkit-slider-thumb, .range-dark::-webkit-slider-thumb{
    appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: var(--ocean);
}
.range-dark{
    -webkit-appearance: none;
    appearance: none;
    height: 0.5em;
    border-radius: 5px;
    background-color: var(--dark);
    outline: none;
}

/* label */
.light-label{
    font-family: 'Times New Roman', Times, serif;
    color: var(--water);
}
.dark-label{
    font-family: 'Times New Roman', Times, serif;
    color: var(--winter);
}

/* p */
.light-p{
    color: var(--water);
    margin: 15px;
}
.dark-p{
    color: var(--winter);
    margin: 15px;
}

/* link */
.link{
    text-decoration: none;
    color: var(--gray);
}
.link:hover{
    cursor: pointer;
    color: var(--sun);
}

/* nav */
.nav{
    /* position: fixed;
    top: 0; */
    width: 100%;
    padding: 20px;
}
.nav-dark{
    background-color: var(--black);
    color: var(--gray);
}
.nav-light{
    background-color: var(--white);
    color: var(--dark-blue);
}

/* div */
.card{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3em;
    padding: 20px;
    border-radius: 20px;
}
.inline{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 15px;
}

/* shadow */
.shadow-light{
    box-shadow: 0 1px 10px var(--gray);
}
.shadow-dark{
    box-shadow: 0 1px 10px var(--dark);
}

/* background-body */
.bg-dark{
    background-color: var(--dark);
    padding: 20px;
    color: var(--white);
}
.bg-light{
    background-color: var(--white);
    padding: 20px;
    color: var(--dark);
}





























.teste-btn{
    width: 400px;
}
#buttons{
    margin-top: 5em;
}
#buttons > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}
#normal{
    margin: 5px;
}
#form,#input-t,#search,#light-l,#dark-l{
    margin: 10px;
}
#form > div{
    margin: 10px;
}
#other-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}
#other-items > div{
    margin: 10px;
}
section{
    display: flex;
}
#light, #dark{
    width: 50%;
}